.info
  グループを作成しました
.chat-left
  .chat-left__header
    .user-name
      Kouyama
    .icon
      .edit
      = link_to "https://tech-camp.in/expert" do
        %i.fa.fa-edit{:style =>"cursor:pointer; font-size:16px; color:#FFFFFF; text-decoration:none;"}
        %span<>
      .cog
      = link_to "https://tech-camp.in/" do
        %i.fa.fa-cog{:style =>"cursor:pointer; font-size:16px; color:#FFFFFF; text-decoration:none;"}
        %span<>
  .group
    .group__name
      group1-name
    .group__first-message
      テスト
    .group__name
      group2-name
    .group__first-message
      b
.chat-main
  .chat-main__header
    .main-left
      group1-name
    .main-edit
      %a{:href => "https://tech-camp.in/inazuma/summer", :style => "color:#38AEF0; text-decoration:none;"} Edit
    .main-group
      Member：Kouyama
  .messages
    .group-name
      Kouyama
    .created-at
      2019/09/01(Sun) 12:10:49
    .text
      テスト
    .group-name
      Kouyama
    .created-at
      2019/09/06(Fri) 14:14:13
    .text
      こんにちは！
  .form
    .form__message-box
      %input{:placeholder => "type a message", :style => "border:none; height:50px; width:calc(100vw - 300px - 80px - 100px - 25px); padding-left:10px; color: #434A54;", :type => "text"}/
    .form__icon
      <label class="message-box__image" for="message_image"><i class="fa fa-image" style="cursor:pointer;" ></i>
      <input class="message-box__image__file" type="file" id="message_image" style="display:none;" >
      </label>
    .form__send
      %a{:href => "https://di-v.co.jp/", :style => "color:#FFFFFF; text-decoration:none;"} Send