.chat-left
  = render 'shared/side_bar'
.chat-main
  .chat-main__header
    .main-left
      group1-name
    = link_to "https://tech-camp.in/inazuma/summer" do
      %e{class: "edit"}Edit
    .main-group
      Member：Kouyama
  .messages
    .group-name
      Kouyama
    .created-at
      2019/09/01(Sun) 12:10:49
    .text
      テスト
    .group-name
      Kouyama
    .created-at
      2019/09/06(Fri) 14:14:13
    .text
      こんにちは！
  .form
    %input{placeholder: "type a message", type: "text", class: "message-box"}/
    .form__icon
      %label
        %i.fa.fa-image{class: "icon-option"}
        %input{class: "image-option", type: "file"}/
    = link_to "https://di-v.co.jp/" do
      %s{class: "send"}Send
